body
{
    background-color: black;
    color:white;

    border:2px groove royalblue;

    margin:10px;

    padding:20px;
}

.get-started
{
    text-align:center;
    color:chartreuse;
    

    font-family:'Anek malayalam',sans-serif;
    font-size: 25px;
    font-weight: 100;

    
}

.how
{
    text-align:Left;
    color:rgb(0, 238, 255);
    

    font-family:'Anek malayalam',sans-serif;
    font-size: 15px;
    font-weight: 100;

}

.main-paragraf
{
    text-align:Left;
    color:rgb(0, 238, 255);
    

    font-family:'Anek malayalam',sans-serif;
    font-size: 15px;
    font-weight: 100;

}

.find-me
{
    border: 2px double rosybrown;
    text-align:Left;
    color:rgb(255, 200, 0);
    

    font-family:'Anek malayalam',sans-serif;
    font-size: 15px;
    font-weight: 100;

    padding:15px;
    
}

a
{
    color:aqua;

}



a:visited
{
    color:steelblue;
   
}
a:hover
{
    color:burlywood;
}

